.App {
    text-align: center;
}

.main {
    display: flex;
    justify-content: space-around;
}

.head {
    border: 1px solid black;
    width: 300px;
    height: 200px;
    background-image: url("https://previews.123rf.com/images/alexlmx/alexlmx1509/alexlmx150900125/44705873-carte-de-cr%C3%A9dit-vierge-isol%C3%A9-sur-fond-blanc.jpg");
    background-position: center;
    background-size: cover;
}

.inpu {
    margin-bottom: 20px;
    ;
}